@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounceIn {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes coverIn {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes textsIn {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes swipe {
    0%, 33.33%, 100% { /* Commence à 0%, maintient la position à 33.33% pour simuler la pause, et reste à 100% */
        transform: translateY(0);
    }
    16.67% { /* Atteint le point le plus haut à 16.67%, ce qui est à mi-chemin de la partie active de l'animation */
        transform: translateY(-20%);
    }
}

#weatherIcon {
    height: 410px;
}

#weatherIcon img {
    right: -110px;
}

#swipe img {
    height: 48px;
}

#temperature p {
    font-size: 104px;
}

#weatherDescription p {
    font-size: 17px;
}

#weatherDescription img {
    max-height: 15px;
}

#city p {
    font-size: 48px;
}

body {
    font-family: Hanken Grotesk, sans-serif;
}

#loader-text {
    font-size: 17px;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    body {
        background-color: #29A4FD;
        color: white;
    }
}

.slider-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
    width: 47px;
    height: 47px;
}

.cover-enter-active {
    animation: coverIn 1s ease forwards;
}

.swipe-enter-active {
    animation: textsIn 1s ease forwards;
}

.texts-enter-active {
    animation: textsIn 1s ease forwards;
}

.slide-leave-active {
    transition: transform 0.1s ease;
}
.slide-enter-active {
    animation: bounceIn 0.1s ease forwards;
}
.swipe {
    animation: swipe 3s ease-in-out infinite;
}
.slide-enter, .slide-leave-to {
    position: absolute;
    width: 100%;
}
.slide-enter-from {
    transform: translateY(100%);
}
.slide-leave-to {
    transform: translateY(-100%);
}
.transitioning .next {
    opacity: 1;
}
.transitioning .background {
    opacity: 0;
}
.background-container {
    position: relative;
    overflow: hidden;
}

.background, .next {
    transition: opacity 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.background {
    opacity: 1;
}

.next {
    opacity: 0;
}