@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=League+Spartan:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#main-div {
    scroll-snap-type: y mandatory;
}

@keyframes bounceIn {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes coverIn {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-2%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes textsIn {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes settingsIn {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes settingsInterfaceIn {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}

#temperature p {
    font-size: 9vh;
}

#city p {
    font-size: 5vh;
}

@keyframes swipe {
    0%, 33.33%, 100% { /* Commence à 0%, maintient la position à 33.33% pour simuler la pause, et reste à 100% */
        transform: translateY(0);
    }
    16.67% { /* Atteint le point le plus haut à 16.67%, ce qui est à mi-chemin de la partie active de l'animation */
        transform: translateY(-20%);
    }
}

#weatherIcon img {
    right: -40px;
}

#weatherDescription img {
    max-height: 15px;
}

body {
    font-family: Hanken Grotesk, sans-serif;
}

#loader-text {
    z-index: 1;
}

@media screen and (min-width: 768px) {
    body {
        background-color: #29A4FD;
        color: white;
    }
}

.slider-container {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.cover-enter-active {
    animation: coverIn 1s ease forwards;
}

.swipe-enter-active {
    animation: textsIn 1s ease forwards;
}

.texts-enter-active {
    animation: textsIn 1s ease forwards;
}

.settings-enter-active {
    animation: settingsIn 1s ease forwards;
}

.settings-interface-active {
    animation: settingsInterfaceIn .5s ease forwards;
    transform-origin: top left;
}

.slide-leave-active {
    transition: transform 0.1s ease;
}
.slide-enter-active {
    animation: bounceIn 0.1s ease forwards;
}
.baseSwap {
    animation: swipe 3s ease-in-out infinite;
}
.slide-enter, .slide-leave-to {
    position: absolute;
    width: 100%;
}
.slide-enter-from {
    transform: translateY(100%);
}
.slide-leave-to {
    transform: translateY(-100%);
}
.transitioning .next {
    opacity: 1;
}
.transitioning .background {
    opacity: 0;
}
.background-container {
    position: relative;
    overflow: hidden;
}

.background, .next {
    transition: opacity 1s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.background {
    opacity: 1;
}

.next {
    opacity: 0;
}

.h-screen {
    height: 100svh;
}

.w-9\/10 {
    width: 90%;
}

.h-9\/10 {
    height: 90%;
}

#settingsInterface {
    background-color: white;
    box-shadow: 0 0 400px #c2c2c2;
}